################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pearson/obj
/Pearson.Tests/bin/Debug/net6.0
/Pearson.Tests/obj
/Pearson/bin/Debug/net6.0
